* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  position: relative;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px #00000059;
          box-shadow: 0px 5px 10px #00000059;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (3rem)[1];
      grid-template-rows: repeat(1, 3rem);
      grid-template-areas: "a b c";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logoContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.logo {
  width: auto;
  height: 35px;
  margin: 5px 0px 0px 20px;
}

.homeBodyContent {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (3rem)[1];
      grid-template-rows: repeat(1, 3rem);
      grid-template-areas: "a1 b1 c1";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a1;
}

.titleImageContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b1;
  margin-top: 350px;
}

.body-c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c1;
}

.titleImage {
  width: 600px;
  height: auto;
}

.dashboardTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  text-align: center;
  color: #ff8900;
  font-size: 1.75em;
}

.loginBtnContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.loginBtn {
  display: inline-block;
  border: none;
  background: #0015ff;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loginBtn:hover {
  background: #ff8900;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #ff8900;
  -webkit-box-shadow: 0px -5px 10px #00000059;
          box-shadow: 0px -5px 10px #00000059;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (3rem)[1];
      grid-template-rows: repeat(1, 3rem);
      grid-template-areas: "a2 b2 c2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a2;
  color: transparent;
  font-size: 0.1em;
}

.github-icon {
  text-align: right;
  margin-right: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c2;
}

#github-icon {
  height: 30px;
}

#copyright {
  text-align: center;
  color: #ffffff;
  font-size: 0.8em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b2;
}
/*# sourceMappingURL=App.css.map */