* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px #00000059;
          box-shadow: 0px 5px 10px #00000059;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "a";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

@media screen and (max-width: 400px) {
  .logoContainer {
    display: none;
  }
}

.logo {
  width: auto;
  height: 35px;
  margin: 5px 0px 0px 20px;
}

@media screen and (max-width: 400px) {
  .logo {
    display: none;
  }
}

.navBtnContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 30px;
}

@media screen and (max-width: 640px) {
  .navBtnContainer {
    margin-right: 10px;
  }
}

.newGroupBtn {
  border: none;
  background: none;
  color: #0015ff;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newGroupBtn:hover {
  color: #ff8900;
  text-decoration: none;
}

.loginBtn {
  border: none;
  margin-left: 50px;
  background: none;
  color: #868686;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loginBtn:hover {
  color: #ff8900;
  text-decoration: none;
}

.titleImageContainer {
  text-align: center;
}

.titleImage {
  width: 60%;
  height: auto;
  margin: 8% 20% 5% 20%;
}

@media screen and (max-width: 640px) {
  .titleImage {
    margin: 12% 15% 5% 15%;
  }
}

.upVoteArrow {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 0 white) drop-shadow(0px 0px 0 rgba(255, 255, 255, 0));
  filter: drop-shadow(0px 0px 0 #f8f8f8) drop-shadow(0px 0px 0 rgba(255, 255, 255, 0));
}

.upVoteableImage {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.text-block {
  position: absolute;
  width: 81%;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  padding: 8px 20px;
  padding-bottom: 0;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  line-height: 0.25em;
}

@media screen and (max-width: 500px) {
  .text-block h4 {
    font-size: 1.2em;
  }
  .text-block p {
    font-size: 0.7em;
  }
}

.upVoteCount {
  position: absolute;
  top: 36px;
  right: 55px;
  cursor: default;
  color: rgba(255, 255, 255, 0.534);
  -webkit-text-stroke: 0.1px black;
}

.activityTypesColumn {
  float: left;
  width: 20%;
}

@media screen and (max-width: 500px) {
  .activityTypesColumn {
    width: 100%;
  }
}

.activityTypesRow::after {
  content: "";
  clear: both;
  display: table;
}

.trendingRow::after {
  content: "";
  clear: both;
  display: table;
}

.trendingColumn {
  float: left;
  width: 50%;
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .trendingColumn {
    width: 100%;
  }
}

.advertisedRow {
  padding-bottom: 5%;
}

.advertisedRow::after {
  content: "";
  clear: both;
  display: table;
}

.advertisedColumn {
  float: left;
  width: 50%;
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .advertisedColumn {
    width: 100%;
  }
}

.dashboardTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  text-align: center;
  color: #ff8900;
  font-size: 1.75em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #ff8900;
  -webkit-box-shadow: 0px -5px 10px #00000059;
          box-shadow: 0px -5px 10px #00000059;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (3rem)[1];
      grid-template-rows: repeat(1, 3rem);
      grid-template-areas: "a2 b2 c2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a2;
}

.github-icon {
  text-align: right;
  margin-right: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c2;
}

#github-icon {
  height: 25px;
}

#copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b2;
  text-align: center;
  margin-top: auto;
  color: #ffffff;
  font-size: 0.8em;
}
/*# sourceMappingURL=App.css.map */