* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  position: relative;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px #00000059;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 3rem);
  grid-template-areas: "a b c";
  align-items: center;
  justify-content: center;
}

.logoContainer {
  grid-area: a;
}

.logo {
  width: auto;
  height: 35px;
  margin: 5px 0px 0px 20px;
}

.homeBodyContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
  grid-template-areas:
    "top1 top2 top3"
    "middle middle middle"
    "bottom bottom bottom";
  align-items: center;
  justify-content: center;
}

.body-a {
  grid-area: top1;
}

.titleImageContainer {
  grid-area: top2;
}

.body-c {
  grid-area: top3;
}

.activityTypes {
  grid-area: middle;
  width: 100%;
  margin-top: 100px;
}

.activityType {
  float: left;
}

.activityTypeImage {
  width: 9em;
  height: auto;
}

.trending {
  grid-area: bottom;
  background-color: blue;
}

.titleImage {
  width: 600px;
  height: auto;
}

.dashboardTitle {
  grid-area: b;
  text-align: center;
  color: #ff8900;
  font-size: 1.75em;
}

.loginBtnContainer {
  grid-area: c;
  align-items: center;
  text-align: right;
}

.loginBtn {
  display: inline-block;
  border: none;
  background: #0015ff;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  transition: 0.5s;
}

.loginBtn:hover {
  background: #ff8900;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #ff8900;
  box-shadow: 0px -5px 10px #00000059;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 3rem);
  grid-template-areas: "a2 b2 c2";
  align-items: center;
  justify-content: center;
}

.footer-a {
  grid-area: a2;
  color: transparent;
  font-size: 0.1em;
}

.github-icon {
  text-align: right;
  margin-right: 20px;
  grid-area: c2;
}

#github-icon {
  height: 30px;
}

#copyright {
  text-align: center;
  color: #ffffff;
  font-size: 0.8em;
  grid-area: b2;
}
