* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px #00000059;
  display: grid;
  grid-template-areas: "header";
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 35px;
  margin: 5px 0px 0px 20px;
  @media screen and (max-width: 640px) {
    display: none;
  }
}

.newGroupBtn {
  grid-area: header;
  -ms-grid-column-align: end;
  justify-self: end;
  // margin-right: 280px;
  margin-top: 5px;
  border: none;
  background: none;
  color: #0015ff;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  @media screen and (max-width: 640px) {
    -ms-grid-column-align: start;
    justify-self: start;
    margin-right: 0;
    margin-left: 10px;
  }
}

.newGroupBtn:hover {
  color: #ff8900;
  text-decoration: none;
}

.welcomeUser {
  grid-area: header;
  -ms-grid-column-align: end;
  justify-self: end;
  margin-right: 90px;
  margin-top: 5px;
  border: none;
  background: none;
  color: #ff8900;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loginBtn {
  grid-area: header;
  -ms-grid-column-align: end;
  justify-self: end;
  margin-right: 20px;
  margin-top: 5px;
  border: none;
  background: none;
  color: #868686;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loginBtn:hover {
  color: #ff8900;
  text-decoration: none;
}

.headerBuffer {
  position: relative;
  height: 3vh;
  padding-top: 3em;
  display: hidden;
  z-index: -1;
}

.titleImageContainer {
  text-align: center;
}

.titleImage {
  width: 60%;
  height: auto;
  margin: 5% 20% 5% 20%;
  @media screen and (max-width: 640px) {
    margin: 9% 15% 9% 15%;
  }
}

.activityTypeContainer {
  font-size: 1.8em;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1.8px 1.8px 2.75px black;
  @media screen and (max-width: 940px) {
    font-size: 1em;
  }
  @media screen and (max-width: 700px) {
    font-size: 0.9em;
  }
  @media screen and (max-width: 640px) {
    font-size: 0.8em;
  }
  @media screen and (max-width: 500px) {
    font-size: 3em;
  }
}

.activityTypeContainer:hover {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px 2px black;
}

.activityTypesImage {
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  @media screen and (max-width: 940px) {
    height: 150px;
  }
  @media screen and (max-width: 500px) {
    height: 350px;
  }
}

.activityTypesRow::after {
  content: "";
  clear: both;
  display: table;
}

.activityTypesText {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.activityTypesColumn {
  float: left;
  width: 20%;
  @media screen and (max-width: 500px) {
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    -webkit-filter: none;
    filter: none;
  }
}

.activityTypesColumn:hover {
  -webkit-filter: saturate(1.2) contrast(100%) brightness(120%);
  filter: saturate(1.2) contrast(100%) brightness(120%);
}

.image {
  height: 350px;
  object-fit: cover;
  @media screen and (max-width: 940px) {
    height: 200px;
  }
  @media screen and (max-width: 500px) {
    height: 350px;
  }
}

.imageRow {
  padding: 20px 0 60px 0;
}

.imageRow::after {
  content: "";
  clear: both;
  display: table;
}

.imageColumn {
  position: relative;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 50%;
  padding: 1%;
  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 1% 0;
  }
}

.text-block {
  position: absolute;
  width: 96%;
  margin: 0 5%;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  padding: 8px 20px;
  bottom: 3.5%;
  left: 45%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  line-height: 0.25em;
  @media screen and (max-width: 500px) {
    width: 100%;
    bottom: 1.5%;
    h4 {
      font-size: 1.8em;
    }
    p {
      font-size: 1em;
    }
  }
}

.upVoteCount {
  position: absolute;
  top: 16px;
  right: 35px;
  cursor: default;
  color: rgba(255, 255, 255, 0.534);
  -webkit-text-stroke: 0.1px black;
}

.upVoteArrow {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 0 white)
    drop-shadow(0px 0px 0 rgba(255, 255, 255, 0));
  filter: drop-shadow(0px 0px 0 #f8f8f8)
    drop-shadow(0px 0px 0 rgba(255, 255, 255, 0));
}

.dashboardTitle {
  grid-area: a;
  text-align: center;
  color: #ff8900;
  font-size: 1.75em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #ff8900;
  box-shadow: 0px -5px 10px #00000059;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a2 b2 c2";
  align-items: center;
}

// empty content / replace me
.footer-a {
  grid-area: a2;
}

.github-icon {
  text-align: right;
  margin-right: 20px;
  grid-area: c2;
}

#github-icon {
  height: 25px;
}

#copyright {
  grid-area: b2;
  text-align: center;
  margin-top: auto;
  color: #ffffff;
  font-size: 0.8em;
}
