@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  @media screen and (max-width: 940px) {
    font-size: 12px;
  }
  @media screen and (max-width: 640px) {
    font-size: 10px;
  }
  @media screen and (max-width: 500px) {
    font-size: 8px;
  }
}

.fc {
  padding-bottom: 5em;
}

.demo-app-top {
  margin: 0 0 8em 0;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 90%;
}

th {
  color: #ff8900;
}

.fc-button-primary {
  background-color: #0015ff;
  border-color: #0015ff;
}

.fc-button-primary:not(:disabled) {
  background-color: #0015ff;
  border-color: #0015ff;
}

.fc-button-primary:not(:disabled).fc-button-active {
  background-color: #ff8900;
  border-color: #ff8900;
}

.fc-button-primary:hover {
  background-color: #ff8900;
  border-color: #ff8900;
}

.fc-event {
  background-color: #0015ff;
  border-color: #0015ff;
}

.fc-title,
.fc-time {
  color: white;
}
