.upperGroupArea {
  width: 98%;
  height: 400px;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "a1 b1";
  -ms-grid-rows: (400px)[2];
      grid-template-rows: repeat(2, 400px);
  grid-column-gap: 10px;
}

@media screen and (max-width: 640px) {
  .upperGroupArea {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "a1" "b1";
    grid-column-gap: 0;
    grid-row-gap: 10px;
    -ms-grid-rows: 400px 350px;
        grid-template-rows: 400px 350px;
    height: 760px;
  }
}

.eventDetailsPage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a1;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ff88002f;
}

.eventDetailsHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3, 1fr;
      grid-template-columns: 3, 1fr;
      grid-template-areas: "a2 b2 c2";
  text-align: center;
}

.suggest {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a2;
}

.leaveEvent {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c2;
}

.suggest,
.leaveEvent {
  margin: 10px;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #ff8900;
  color: white;
  padding: 6px 0px 6px 0px;
  border-radius: 3px;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.suggest:hover,
.leaveEvent:hover {
  background-color: #e27a02;
  -webkit-transform: translateY(-0.5px);
          transform: translateY(-0.5px);
  -webkit-filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 5px 3x rgba(0, 0, 0, 0.6));
}

.suggest:active,
.leaveEvent:active {
  -webkit-transform: translateY(-0.01px);
          transform: translateY(-0.01px);
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}

.suggest:active,
.suggest:focus,
.suggest:visited,
.leaveEvent:active,
.leaveEvent:focus,
.leaveEvent:visited {
  background-color: #ff8900;
}

.eventDate {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b2;
  margin: auto;
  font-size: 1.2em;
  color: #ff8900;
  font-weight: bold;
}

.eventSuggestions {
  height: 87%;
  overflow-y: scroll;
}

.eventSuggestions::-webkit-scrollbar {
  width: 10px;
}

.eventSuggestions::-webkit-scrollbar-track {
  background: #c7c7c74b;
}

.eventSuggestions::-webkit-scrollbar-thumb {
  background: rgba(163, 163, 163, 0.445);
}

.eventSuggestions::-webkit-scrollbar-thumb:hover {
  background: rgba(97, 97, 97, 0.39);
}

.suggestionRow::after {
  content: "";
  clear: both;
  display: table;
}

.suggestionColumn {
  float: left;
  width: 50%;
  padding: 8px;
}

@media screen and (max-width: 500px) {
  .suggestionColumn {
    width: 100%;
  }
}

.groupSuggestionTextBlock {
  position: absolute;
  width: 96%;
  margin: 0 5%;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  padding: 2px 20px;
  bottom: 3.2%;
  left: 45%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  line-height: 0.25em;
}

@media screen and (max-width: 500px) {
  .groupSuggestionTextBlock {
    width: 100%;
    bottom: 1.5%;
  }
  .groupSuggestionTextBlock h4 {
    font-size: 1.8em;
  }
  .groupSuggestionTextBlock p {
    font-size: 1em;
  }
}

.groupSuggestion {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 940px) {
  .groupSuggestion {
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .groupSuggestion {
    height: 250px;
  }
}

.events div img {
  height: 350px;
}

@media screen and (max-width: 940px) {
  .events div img {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .events div img {
    height: 300px;
  }
}

.chatPage {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b1;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #0051ca73;
}

.chatTitle {
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.chatBody {
  height: 70%;
  width: 90%;
  margin: auto;
  background-color: #f0f0ff;
}

.chatInputContainer {
  height: 10%;
  width: 90%;
  margin: 15px auto 0 auto;
  background-color: #f0f0ff;
}

@media screen and (max-width: 640px) {
  .chatInputContainer {
    margin-top: 10px;
  }
}

.chatInput {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/*# sourceMappingURL=styleGroup.css.map */