.logo {
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3b5998;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type="submit"] {
  background-color: gray;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: gray;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  padding: 0 50px;
}

.leftColumn {
  margin-top: 15%;
}

.rightColumn {
  margin-top: 18.5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .rightColumn form div {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 650px) {
  .rightColumn form div {
    font-size: 1em;
  }
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* bottom container */
.bottom-container {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.bottomButtons {
  width: 40%;
  float: right;
  margin-right: 5%;
}

.forgotPasswordBtn,
.signUpBtn {
  padding: 10px;
}

@media screen and (max-width: 1120px) {
  .forgotPasswordBtn,
  .signUpBtn {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 890px) {
  .forgotPasswordBtn,
  .signUpBtn {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 810px) {
  .forgotPasswordBtn,
  .signUpBtn {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 650px) {
  .forgotPasswordBtn,
  .signUpBtn {
    font-size: 1em;
  }
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
  }

  .rightColumn {
    margin-top: 0;
  }

  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
  .bottomButtons {
    float: left;
    width: 82%;
    margin-left: 9%;
    margin-right: auto;
  }
}

@media screen and (max-width: 400px) {
  .bottomButtons {
    float: left;
    width: 77%;
    margin-left: 12%;
    margin-right: auto;
  }
}

.register {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

@media screen and (max-width: 640px) {
  .register {
    width: 80%;
    margin-top: 10%;
  }
}

.accountQuestionContainer {
  text-align: center;
  line-height: 0.5em;
  margin-top: 15px;
}
